*{
  margin: 0;
}
.details{
  text-align: center;
}
.form{
  padding: 10px;
  text-align: center;
}
label{
  margin-top: 20px;
}
input{
 
  margin-top: 29px;
  height: 20px;
  width: 290px;
  border-radius: 5px;
  padding: 8px;
  border-style:solid;
}
button{
  margin-left: 900px;
  margin-top: 20px;
  width: 90px;
  height: 40px;
  border-radius: 3px;
  color: #070101;
  border-color: black;
  background-color: #1c887a;
  font-size: 18px;
}

button:hover{
  background-color: #6dadaf;
}